USE [master]
GO
/****** Object:  Database [sensof]    Script Date: 1/24/2019 10:03:13 PM ******/
CREATE DATABASE [sensof]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sensof', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\sensof.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'sensof_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\sensof_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sensof].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sensof]
GO
/****** Object:  Table [dbo].[sign_letter]    Script Date: 1/24/2019 10:03:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sign_letter](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sign_name] [char](1) NULL,
	[sign_image] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
